<div class="ui stackable grid centered">
  <div class="seven wide column">
    <form class="ui form" id="updateA">
      <h1 class="textcenter greens h1">基本資料</h1><br><br>
      <div id="errorA"></div>
      <div class="inline fields">
        <div class="four wide field">
          <label>真實姓名</label>
        </div>
        <div class="ten wide field">
          <input type="text" name="name" value="<%= user.name %>">
        </div>
      </div><br>
      <div class="inline fields">
        <div class="four wide field">
          <label>就讀學校</label>
        </div>
        <div class="ten wide field">
          <input type="text" name="nowschool" value="<%= user.nowschool %>">
        </div>
      </div><br>
      <div class="inline fields">
        <div class="four wide field">
          <label>聯絡地址</label>
        </div>
        <div class="ten wide field">
          <input type="text" name="address" value="<%= user.address %>" placeholder="僅用於發票寄送">
        </div>
      </div><br>
      <div class="inline fields">
        <div class="four wide field">
          <label>生日</label>
        </div>
        <div class="ten wide field">
          <select id="years" name="y"></select><span class="greens">/</span>&nbsp;&nbsp;
          <select id="months" name="m" ></select>&nbsp;&nbsp;<span class="greens">/</span>&nbsp;&nbsp;
          <select id="days" name="d"></select>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="six wide field">
          <label>是否為應屆</label>
        </div>
        <div class="five wide field">
          <div class="ui radio checkbox">
            <input type="radio" name="justgraduate" class="hidden" value="1">
            <label>是</label>
          </div>
        </div>
        <div class="five wide field">
          <div class="ui radio checkbox">
            <input type="radio" name="justgraduate" class="hidden" value="0">
            <label>否</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="six wide field">
          <label>性別</label>
        </div>
        <div class="five wide field">
          <div class="ui radio checkbox">
            <input type="radio" name="gender" class="hidden" value="男">
            <label>男</label>
          </div>
        </div>
        <div class="five wide field">
          <div class="ui radio checkbox">
            <input type="radio" name="gender" class="hidden" value="女">
            <label>女</label>
          </div>
        </div>
      </div>
      <br>
      <% if(status){ %>
        <button class="ui button greenbd right" type="submit">下一步</button>
      <% }else{ %>
        <button class="ui button greenbd right" type="submit">更新</button>
      <% } %>
      <br>
      <br>
    </form>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.ui.radio.checkbox').checkbox();
    addCalendar();
    $('#years, #months').change(function() {
      updateNumberOfDays();
    });

    var birth = "<%= user.birth %>";
    birth = birth.split("/");
    $("input[value=<%= user.gender %>]").attr("checked", true);
    $("input[value=<%= user.justgraduate %>]").attr("checked", true);
    $("#years option[value="+birth[0]+"]").prop({selected: true});
    $("#months option[value="+birth[1]+"]").prop({selected: true});
    $("#days option[value="+birth[2]+"]").prop({selected: true});
  });
  $("form#updateA").submit(function(event) {
    event.preventDefault();
    var formData = $("#updateA").serialize();
    $.ajax({
      url: '/user/updateA',
      type: 'put',
      data: formData,
      success: function(response) {
        if (response == "Success") {
          <% if(status){ %>
            window.location.href = '/user/editB';
          <% }else{ %>
            window.location.href = window.location.href;
          <% } %>
        } else {
          $("#errorA").empty();
          for (var i in response) {
            var dom = "<p style='color:red;'>" + response[i].msg + "</p>";
            $('#errorA').prepend(dom);
          }
        }
      }
    });
  });
</script>
